/*Null style*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

@font-face{
	font-family: 'Roboto Regular';
	src: url(../fonts/Roboto-Regular.ttf);
	font-family: 'Roboto Light';
	src: url(../fonts/Roboto-Light.ttf);
	font-family: 'Roboto Bold';
	src: url(../fonts/Roboto-Bold.ttf);
}

body{
	background-color: #fafafa;
	font-size: 14px;
}

.wrapper{
	min-height: 100vh;
	overflow: hidden;
}

.container{
	max-width: 1140px;
	margin: 0px auto;
}

header{
	background-color: #fff;
	box-shadow: 0 0.5px 5px gray; 
	position: relative;
	z-index: 2;
}

.header{
	&__row{
		display: flex;
		justify-content: space-between;
		padding: 25px 0px;
	}
	&__nav{
		display: flex;
		justify-content: center;
		align-items: center;
		font-family: 'Roboto Bold';
		ul{
			display: flex;
		}
		li{
			position: relative;
			padding: 0px 0px 0px 45px;
			color: #777777;
			a{
				color: #777777;
				text-transform: uppercase;
			}
			&:before{
				content: '';
				position: absolute;
				width: 20px;
				height: 1px;
				background-color: #000;
				top: 5px;
				left:0px;
				display: none;
			}
			&:hover{
				a{
					color: #000;
					transition: all .3s ease;
				}
				&:before{
					left: 15px;
					display: block;
					transition: all .3s ease;
				}
			}
			&:last-child:before{
				display: none;
			}
			input{
				border-bottom: 1px solid #000;
				height: 15px;
				width: 100px;
				font-weight: 400;
				display: none;
				padding-bottom: 2px;
			}
			&:last-child:hover{
				display: flex;
				input{
					display: block;
					color: #777777;
				}
			}
		}
		
		#active{
			position: relative;
			a{
				color: #000;
			}
			&:before{
				display: block;
				left: 15px;
			}
		}
	}
}

//Slider
// Слайдер 
.slick-slider{}
// Слайдер запущен 
.slick-slider.slick-initialized{}
// Слайдер с точками 
.slick-slider.slick-dotted{}
// Ограничивающая оболочка 
.slick-list {
	overflow: hidden;
}
// Лента слайдов 
.slick-track{
	display: flex;
}
// Слайд 
.slick-slide{}
// Слайд активный (показывается) 
.slick-slide.slick-active{}
// Слайд основной 
.slick-slide.slick-current{}
// Слайд по центру 
.slick-slide.slick-center{}
// Клонированный слайд 
.slick-slide.slick-cloned{}
// Стрелка 
.slick-arrow{}
// Стрелка влево 
.slick-arrow.slick-prev{}
// Стрелка вправо 
.slick-arrow.slick-next{}
// Стрелка не активная 
.slick-arrow.slick-disabled{}
// Точки (булиты) 
.slick-dots{}
.slick-dots li{}
// Активная точка 
.slick-dots li.slick-active{}
// Элемент точки 
.slick-dots li button{}

.slider__item{
	.first{
		background: url(../img/slider__image/slider1.jpg);
		background-repeat: no-repeat;
		background-size: cover;
	}
	.second{
		background: url(../img/slider__image/slider2.jpg);
		background-repeat: no-repeat;
		background-size: cover;
	}
	.item{
		&__body{
			position: relative;
			max-width: 1600px;
			height: 660px;	
			margin: 0px auto;
		}
		&__text{
			text-align: center;
		}
	}
}

